{% extends "base.html" %}
{% load order_extras %}

{% block title %}
    <title>Orders {{ page_name }}</title>
{% endblock title %}

{% block nav %}
    {% include 'pos/nav.html' %}
{% endblock nav %}

{% block content %}
    {% if object_list %}
        <table class="table" width="90%" cellpadding="5" cellspacing="0">
            <tr>
                <th>Raised By</th>
                <th>Company</th>
                <th>Value</th>
                <th>Reason</th>
                <th>Auth Required</th>
                <th>DM Auth</th>
                <th>MD Auth</th>
                <th>View Details</th>
            </tr>
            {% for order in object_list %}
                <tr>
                    <td>{{ order.ordered_by.get_full_name }}</td>
                    <td>{{ order.company_name }}</td>
                    <td>£{% get_total order.item_set.all %}</td>
                    <td>{{ order.reason }}</td>
                    <td>{{ order.get_auth_required_display }}</td>
                    <td>{{ order.get_dm_auth_display }}</td>
                    <td>{{ order.get_md_auth_display }}</td>
                    <td><a href="/my_order_details/{{ order.pk }}" class="btn btn-primary">View Details</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You currently have no orders</p>
    {% endif %}
{% endblock content %}
