{% extends "base.html" %}
{% load static order_extras %}

{% block content %}
<h1>Order Summary</h1>

    <ul>
        <li>Ordered By: {{ order_details.ordered_by.get_full_name }}</li>
        <li>Order Date: {{ order_details.date_ordered }}</li>
        <li>Expected Delivery: {{ order_details.delivery_date }}</li>
        <li>Reason: {{ order_details.reason }}</li>
    </ul>

    <ul>
        <li>Company Name: {{ order_details.company_name }}</li>
        <li>Address One: {{ order_details.address_one }}</li>
        {% if order_details.address_two %}
        <li>Address Two: {{ order_details.address_two }}</li>
        {% endif %}
        <li>City: {{ order_details.city }}</li>
        <li>County: {{ order_details.county }}</li>
        <li>Postcode: {{ order_details.post_code }}</li>
        <li>Telephone: {{ order_details.telephone }}</li>
        <li>Reason for Order: {{ order_details.reason }}</li>
        <li>Expected Delivery Date: {{ order_details.delivery_date }}</li>
    </ul>

    <table border="1" cellspacing="0" cellpadding="5" width="100%">
        <tr>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    {% for item in order_details.item_set.all %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.item_qty }}</td>
            <td>{{ item.item_price }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="2">Total</td>
            <td>{% get_total order_details.item_set.all %}</td>
        </tr>
    </table>

    <a href="{% url 'index' %}">Close</a>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
