// MAIN STYLE
html {
  font-size: 62.5%;
  background-color: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
}

.container {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}


/* PAGINATION */
ul.pagination li,
nav ul li {
    display: inline-block;
    margin: 2px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
