{% extends "base.html" %}
{% load order_extras %}

{% block title %}
    <title>Orders {{ page_name }}</title>
{% endblock title %}

{% block nav %}
    <ul>
        <li><a href="/orders/pending">Pending</a></li>
        <li><a href="/orders/authorised">Authorised</a></li>
        <li><a href="/orders/declined">Declined</a></li>
        <li><a href="/orders/cleared">Cleared</a></li>
        <li><a href="/orders/canceled">Canceled</a></li>
    </ul>
{% endblock nav %}

{% block content %}

    <h2>Orders {{ page_name }}</h2>
    <table width="90%" border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Raised By</th>
            <th>Company</th>
            <th>Value</th>
            <th>Reason</th>
            <th>Auth Required</th>
            <th>DM Auth</th>
            <th>MD Auth</th>
            <th>View Details</th>

            {% if page_name == 'Authorised' %}
                <th>Clear Order</th>
            {% endif %}

            {% if page_name != 'Canceled' %}
                <th>Cancel Order</th>
            {% endif %}
        </tr>
        {% for order in object_list %}
            <tr>
                <td>{{ order.ordered_by.get_full_name }}</td>
                <td>{{ order.company_name }}</td>
                <td>£{% get_total order.item_set.all %}</td>
                <td>{{ order.reason }}</td>
                <td>{{ order.get_auth_required_display }}</td>
                <td>{{ order.get_dm_auth_display }}</td>
                <td>{{ order.get_md_auth_display }}</td>
                <td><a href="/order_details/{{ order.pk }}">View Details</a></td>
                {% if page_name == 'Authorised' %}
                    <td><a href="/clear_order/{{ order.pk }}">Clear Order</a></td>
                {% endif %}
                {% if page_name != 'Canceled' %}
                    <td><a href="/cancel_order/{{ order.pk }}">Cancel Order</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }}</span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock %}
