{% extends "base.html" %}

{% block title %}
    <title>Orders {{ page_name }}</title>
{% endblock title %}

{% block nav %}
    <ul>
        <li><a href="/orders/raised">Raised</a></li>
        <li><a href="/orders/pending">Pending</a></li>
        <li><a href="/orders/complete">Complete</a></li>
        <li><a href="/orders/canceled">Canceled</a></li>
    </ul>
{% endblock nav %}

{% block content %}

    <h2>Orders {{ page_name }}</h2>
    <table width="90%" border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Raised By</th>
            <th>Company</th>
            <th>Reason</th>
            <th>View Details</th>
        </tr>
        {% for order in object_list %}
            <tr>
                <td>{{ order.ordered_by.get_full_name }}</td>
                <td>{{ order.company_name }}</td>
                <td>{{ order.reason }}</td>
                <td><a href="/order_details/{{ order.pk }}">View Details</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }}</span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock %}
